.rooms-slider {
    position: relative;
    /* Ajoutez ici d'autres styles si nécessaire */
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input-group input:focus {
    outline: none;
    border-color: #c19c67;
  }
  
  .button {
    width: 100%;
    padding: 15px;
    background-color: #6d593b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #c19c67;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  

  /* .rooms-slider-bis {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
} */